html,
body {
  padding: 0;
  margin: 0;
}
body,
div,
label,
textarea,
h1,
h2,
h3,
h4 {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
}

#ocean {
  width: 100%;
  clear: both;
  /*height:250px;*/

  background: #071d06;
  background: #1f3b08;
  background: -moz-linear-gradient(top, #1f3b08 0%, #071d06 100%);
  background: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0%, #1f3b08),
    color-stop(100%, #071d06)
  );
  background: -webkit-linear-gradient(top, #1f3b08 0%, #071d06 100%);
  background: -o-linear-gradient(top, #1f3b08 0%, #071d06 100%);
  background: -ms-linear-gradient(top, #1f3b08 0%, #071d06 100%);
  background: linear-gradient(to bottom, #1f3b08 0%, #071d06 100%);
}

h1 {
  color: #fff;
  font-size: 60px;
  line-height: 27px;
  font-weight: 900;
  text-align: center;
  /*background:#0f2e20;*/
  padding: 80px 10px;
  margin-bottom: 40px;
  /*text-shadow:0 -1px 1px #555;*/
  /*height:40px;*/
  overflow: hidden;

  margin-top: -220px;
  opacity: 0.75;
}

.gist {
  position: absolute;
  background: #fff;
  opacity: 0.4;
  top: 0;
  right: 0;
  padding: 8px 10px;
  color: #000;
  text-decoration: none;
  font-size: 12px;
  transition: opacity 0.3s linear;
}
.gist:hover {
  opacity: 0.8;
}

div.content {
  padding: 13px 20px 80px 20px;
  margin: 0 auto;
  max-width: 1100px;
}
div.container {
  padding: 0;
  margin: 0;
  display: inline-block;
  width: 49%;
}
div.x {
  margin-right: 12px;
}
div label {
  display: block;
  font-size: 16px;
  color: #777;
  padding: 3px;
  color: #995599;
}
textarea {
  display: block;
  width: 100%;
  height: 400px;
  font-size: 18px;
  border: 0px solid #fff;
  background-color: #eee;
  padding: 10px;
  margin-top: 10px;
  font-family: monospace;
}
pre code {
  font-family: monospace;
  font-style: normal;
  font-size: 1.13em;
}
blockquote {
  font-family: Georgia, arial, sans-serif;
  font-style: italic;
  color: #666;
}
#radial {
  float: right;
  display: inline-block;
  margin-top: -32px;
  color: #378711;
}
